<% var projects = [{
    link: 'http://shaderfrog.com/',
    src: require( './screenshots/shaderfrog-screenshot.png' ),
    title: 'ShaderFrog',
    description: 'WebGL graph based shader editor'
}, {
    link: 'http://charismachameleon.com/',
    src: require( './screenshots/charisma-screenshot.jpg' ),
    title: 'Charisma The Chameleon',
    description: 'A WebGL and React game'
}, {
    link: 'http://andrewraycode.github.io/easing-utils/gh-pages/',
    src: require( './screenshots/easing-utils-screenshot.jpg' ),
    title: 'Easing Utils',
    description: 'Up to date easing function library'
}, {
    link: 'https://github.com/AndrewRayCode/webpack-hot-2048-loader',
    src: 'https://raw.githubusercontent.com/DelvarWorld/webpack-hot-2048-loader/master/webpack-hot-2048-downsize.gif',
    title: 'Webpack Hot 2048 Loader',
    description: 'Shows the game 2048 during hot reloads'
}, {
    link: 'http://emoji.andrewray.me/',
    src: require( './screenshots/emoji-screenshot.jpg' ),
    title: 'The Emoji Ransom Generator',
    description: 'Write using only 📧Ⓜ️⭕️☔ℹ️!'
}, {
    link: 'http://cats.andrewray.me/',
    src: require( './screenshots/cats-react.gif' ),
    title: 'The Booper Snooter',
    description: 'Waste years of your life pulling cat tongues!'
}, {
    link: 'http://andrewray.me/bubbles',
    src: require( './screenshots/bubbles-screenshot.jpg' ),
    title: 'Bubbles Revenge',
    description: 'An addicting Flash game where you eat bubbles to grow'
}, {
    link: 'http://andrewray.me/assets/games/escape_from_hueb/index.html',
    src: require( './screenshots/escape-heub-screenshot.jpg' ),
    title: 'Escape From Hueb',
    description: 'An audio only Flash game experiment'
}];

var categories = {
    software: 'Software',
    music: 'Music',
};
var categoryKeys = Object.keys( categories );

var unselected = [{
    type: 'software',
    link: 'https://www.npmjs.com/package/emoji-alphabet',
    title: 'Emoji Alphabet',
    description: 'An Javascript library to translate individual letters into Emoji equivalents'
}, {
    type: 'software',
    link: 'https://www.npmjs.com/package/webpack-cyclic-dependency-checker',
    title: 'Webpack Cylic Dependency Checker',
    description: 'Uses depth first traversal to search your dependency graph for cyclical dependencies, which can break tools like Flow.'
}, {
    type: 'software',
    link: 'https://github.com/AndrewRayCode/configs',
    title: 'My dotfiles',
    description: 'All of my configuration files, including Vim plugins, and a 1,500 line .vimrc.'
}, {
    type: 'software',
    link: 'https://github.com/AndrewRayCode/webpack-hot-2048-loader',
    title: 'Kickscraper',
    description: 'A tiny tool to scrap Kickstarter campaign data'
}, {
    type: 'software',
    link: 'https://github.com/AndrewRayCode/Mood-Engine',
    title: '3D Lamp Designer',
    description: 'Virtual reality hackathon project. Design a lampshade by moving shadows around in a virtual reality environment.'
}, {
    type: 'software',
    link: 'https://github.com/AndrewRayCode/vim-git-conflict-edit',
    title: 'Vim Plugin: Git Confict Edit',
    description: 'Edit conflicted Git files in Vim by grepping for conflict markers and loading into quickfix list'
}, {
    type: 'software',
    link: 'http://andrewray.me/stuff/projection/',
    title: '3D Projection Matrix in CSS',
    description: 'Experiment to learn matrix math and 3D scene matrix math using (non-3D) CSS'
}, {
    type: 'software',
    link: 'https://github.com/AndrewRayCode/ct-truncate',
    title: 'Rich Text Truncate jQuery Plugin',
    description: 'Truncate rich HTML text and add ellipses'
}, {
    type: 'software',
    link: 'https://github.com/AndrewRayCode/cloudspawn',
    title: 'Cloud Animation jQuery Plugin',
    description: 'An experimental way to animate in a modal with puffy edges'
}, {
    type: 'software',
    link: 'https://github.com/AndrewRayCode/BlurSwapper',
    title: 'Blur Swapper jQuery plugin',
    description: 'A jQuery plugin experiment to cycle between different text'
}, {
    type: 'software',
    link: 'https://github.com/AndrewRayCode/kill-with-fire',
    title: 'Kill With Fire jQuery Plugin',
    description: 'A jQuery plugin to show the destruction of an element with sprite based explosions'
}, {
    type: 'software',
    link: 'https://github.com/AndrewRayCode/Dung-Beetle',
    title: 'Dung Beetle',
    description: 'Many years ago, before the Chrome Inspector, even before Firebug Lite, I attempted to build a tool to give full cross browser inspection'
}, {
    type: 'software',
    link: 'http://andrewray.me/stuff/snowglobe/',
    title: 'WebGL Snowglobe',
    description: 'A mini WebGL snowglobe experiment'
}, {
    type: 'music',
    link: 'http://andrewray.me/assets/music/Alcohol.mp3',
    title: 'Alcohol Distances Sam From God',
    description: 'Musical experiment inspired by a friend'
}, {
    type: 'music',
    link: 'http://andrewray.me/assets/music/DesertFightMusic.mp3',
    title: 'Desert Fight Music',
    description: '(Unfinished) Work for an uncompleted fighting video game'
}, {
    type: 'music',
    link: 'http://andrewray.me/assets/music/Echoes.mp3',
    title: 'Echoes',
    description: 'Piano improvisation for a friend'
}, {
    type: 'music',
    link: 'http://andrewray.me/assets/music/EricScoreSong1.mp3',
    title: 'Eric Score Song 1',
    description: 'Song for a dramatic student college film'
}, {
    type: 'music',
    link: 'http://andrewray.me/assets/music/EricScoreSong2.mp3',
    title: 'Eric Score Song 2',
    description: 'Song for a dramatic student college film'
}, {
    type: 'music',
    link: 'http://andrewray.me/assets/music/HelloWorld.mp3',
    title: 'Hello World',
    description: 'An exerpimental song to express a transition in my life'
}, {
    type: 'music',
    link: 'http://andrewray.me/assets/music/HerPrisonHas88Keys.mp3',
    title: 'Her Prison Has 88 Keys And No Locks',
    description: 'A piano improvisation for a friend'
}, {
    type: 'music',
    link: 'http://andrewray.me/assets/music/Impulse_Score.mp3',
    title: 'Impulse Score',
    description: '(Unfinished) An orchestral and electronic song for an incomplete video game'
}, {
    type: 'music',
    link: 'http://andrewray.me/assets/music/ObsessiveImpulsive.mp3',
    title: 'Obsessive Impulsive',
    description: 'An orchestral soundtrack mix for an incomplete video game.'
}, {
    type: 'music',
    link: 'http://andrewray.me/assets/music/MidnightOnAKentuckyPorch.mp3',
    title: 'Midnight On A Kentucky Porch',
    description: 'Experimental song about late night conversations'
}, {
    type: 'music',
    link: 'http://andrewray.me/assets/music/TheDepths.mp3',
    title: 'The Depths',
    description: 'A piano composition'
}, {
    type: 'music',
    link: 'http://andrewray.me/assets/music/TheIceWalrusWIP.mp3',
    title: 'The Ice Walrus',
    description: '(Unfinished) A classical composition about friendship'
}, {
    type: 'music',
    link: 'http://andrewray.me/assets/music/Thisis.mp3',
    title: 'Thisis',
    description: 'An electronic and piano composition for a friend'
}];

var unselectedWorks = Object.keys( categories ).reduce( function( memo, category ) {
    memo[ category ] = unselected.filter( function( w ) {
        return w.type === category;
    });
    return memo;
}, {} );

%>
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400" />
        <meta charset="utf-8">
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Andrew Ray's Portfolio</title>
    </head>
    <body>
        <header class="site-head">
            <div class="site-head-content inner">
                <div class="title-wrap">
                    <a href="/" class="title-link">
                        <h1 class="blog-title">Andrew <span class="ray-icon">Ray</span></h1>
                    </a>
                    <a href="https://twitter.com/andrewray" target="_blank" class="my-face">
                        <span class="face-icon"></span>
                        <span class="icon-twitter twitter-nav" target="_blank">
                            <span class="fa fa-twitter"></span>
                            @andrewray
                        </span>
                    </a>
                </div>
            </div>
            <div class="header-tabs">
                <div class="inner tab-align">
                    <div class="tab active">
                        <a href="http://andrewray.me">portfolio</a>
                    </div>
                    <div class="tab rest">
                        <a href="http://blog.andrewray.me">blog</a>
                    </div>
                </div>
            </div>
            <div class="header-tabs-highlight"></div>
            <div class="header-tabs-base"></div>
        </header>
        <div class="navigation">
            <div class="inner">
            </div>
        </div>
        <main class="post" role="main">

            <section>
                <h2 class="post-title">At a Glance</h2>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="stats-list">
                            <li>
                                133 open source <a href="https://github.com/pulls?utf8=✓&q=is%3Apr+author%3AAndrewRayCode" target="_blank">pull requests</a>
                            </li>
                            <li>
                                442 open source <a href="https://github.com/issues?utf8=✓&q=is%3Aissue+author%3AAndrewRayCode" target="_blank">issues filed</a>
                            </li>
                            <li>
                                11 npm packages <a href="https://www.npmjs.com/~andrewray" target="_blank">published</a>
                            </li>
                            <li>
                                8,610 reputation on  <a href="http://stackoverflow.com/users/743464/andy-ray" target="_blank">StackOverflow</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="stats-list">
                            <li>
                                Published <a href="https://www.sitepoint.com/building-a-game-reactjs-and-webgl/" target="_blank">SitePoint author</a>
                            </li>
                            <li>
                                Virtual reality <a href="http://vrhackathon.com/sf-2014.html" target="_blank">hackathon winner</a> (team Mood Engine)
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <section>
                <h2 class="post-title">Select Works</h2>
                <% for( var row = 0; row < projects.length; row += 3 ) { %>
                    <div class="row">
                        <% for( var col = row; col < Math.min( row + 3, projects.length ); col += 1 ) { %>
                            <div class="col-md-4 project">
                                <a href="<%= projects[ col ].link %>" target="_blank">
                                    <img
                                        src="<%= projects[ col ].src %>"
                                    />
                                    <div class="title"><%= projects[ col ].title %></div>
                                    <p>
                                        <%= projects[ col ].description %>
                                    </p>
                                </a>
                            </div>
                        <% } %>
                    </div>
                <% } %>
            </section>

            <section>
                <h2 class="post-title">Unselected Works</h2>

                <% for( var i = 0; i < categoryKeys.length; i++ ) { %>
                    <h4><%= categories[ categoryKeys[ i ] ] %></h4>

                    <ul class="project-list">
                    <% for( var j = 0; j < unselectedWorks[ categoryKeys[ i ] ].length; j ++ ) { %>
                        <li>
                            <a href="<%= unselectedWorks[ categoryKeys[ i ] ][ j ].link %>" target="_blank">
                                <div class="title"><%= unselectedWorks[ categoryKeys[ i ] ][ j ].title %></div>
                                <p>
                                    <%= unselectedWorks[ categoryKeys[ i ] ][ j ].description %>
                                </p>
                            </a>
                        </li>
                    <% } %>
                    </ul>
                <% } %>
            </section>


        </main>

        <footer class="site-footer">
            <div class="inner tentacle-thing clearfix">
                <div class="info">
                    <div class="foot-head">
                        About
                    </div>
                    I'm a human from San Francisco.
                    <br /><br />Follow me on
                    <a href="https://twitter.com/andrewray" target="_blank">Twitter</a> or
                    <a href="https://github.com/AndrewRayCode" target="_blank">GitHub</a>, or
                    check out my <a href="http://andrewray.me" target="_blank">portfolio</a>.
                </div>
            </div>
            <div class="postscript">
                <div class="inner">
                    <div class="ray"></div>
                    <div class="copy">
                        &copy; Andrew Ray <%= new Date().getFullYear() %>
                    </div>
                </div>
            </div>
        </footer>

        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>

        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-12379271-1");
                pageTracker._setDomainName(".andrewray.me");
                pageTracker._trackPageview();
            } catch(err) {}
        </script>

    </body>
</html>
